BODY {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background: white;
}

.Excl  { background: #E0E0E0; color: #808080; }
.Exact { background: #FFC080; border: 1px solid #FF8000; }
.Fuzzy { background: #FFFF80; border: 1px solid #C0C000; }
.Subst { background: #FF8080; border: 1px solid #FF0000; }
.Sc0   { 
    border-top: 2px solid #808080; 
    border-bottom: 2px solid #808080; 
}

.invert .Exact    { background: white; color: black; border: none; }
.invert .Diff     { background: #80C0FF; border: 1px solid #0080FF; }
.invert .Diff.sp  { background: #C0E0FF; border: none; }


#legend {
    display: inline-block;
    border: 1px solid black;
    padding: 0 1ex 0 1ex;
    margin: 0 0 1em 0;
    background: #E0F0FF;
}

#legend p:first-child {
    font-weight: bold;
}

#legend ul {
    list-style: none;
    padding-left: 0;
}

#legend li {
    padding-top: 4px;
}

TABLE { 
    border-collapse: collapse; 
    counter-reset: fileAline fileBline;
}

TBODY { 
    border: 1px solid black;
}

TH, TD { 
    padding: 0 1ex 0 1ex;     
}

TD {
    white-space: pre-wrap;
}

TR:hover {
    background: #E0E0FF;
}

TD { 
    vertical-align: top; 
    max-width: 120ex; 
    word-wrap: break-word; 
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;     
}

TD:last-child {
    border-left: 1px solid black;
}

TD:not(.p):first-child::before {
    counter-increment: fileAline;
    content: counter(fileAline);
    border-right: 1px solid gray;
    padding-right: 1ex;
    margin-right: 1ex;
    color: gray;
    width: 4ex;
    text-align: right;
    display: inline-block;
}

TD:not(.p):last-child::before {
    counter-increment: fileBline;
    content: counter(fileBline);
    border-right: 1px solid gray;
    padding-right: 1ex;
    margin-right: 1ex;
    color: gray;
    width: 4ex;
    text-align: right;
    display: inline-block;
}

TD.p {
    background: #F0F0F0;
}

SPAN.selected {
    box-shadow: 0px 0px 15px 5px #8080C0;
    position: relative;
    z-index: 10;
    border: 1px solid black;
}

@media screen {
    #toolbar {
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 999;
        padding: 0.5em;
        background: #DDD;
        border: 1px solid gray;
        margin-top: 0px;
        box-shadow: 0px 0px 20px 0px black;
    }
}

@media not screen {
    #toolbar {
        display: none;
    }
}

@media print {
    TR {
        page-break-inside: avoid;
    }
    TD {
        font-size: small;
    }
}
